.banner-area{
    height: 100vh;
    .banner-content{
        h2{
            font-size: 80px;
            color: $white;
        }
        h4{
            color: $white;
            font-size: 30px;
        }
    }
}