.section-title{
    h4{
        font-size: 35px;
        font-weight: 600;
        position: relative;
        margin-bottom: 10px;    
        padding-bottom: 5px;
        &::before{
            position: absolute;
            content: "";
            width: 80px;
            height: 2px;
            background-color: $primary-color;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
        &::after{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            background-color: $primary-color;
            left: 50%;
            bottom: -3px;
            transform: translateX(-50%);
            border-radius: 50%;
        }
    }
}