@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
.container, .container-fluid {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container .row, .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.33333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.66667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.33333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.66667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.33333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.66667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.33333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.66667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xl-1 {
    width: 8.33333%;
    padding: 0 15px;
  }
  .col-xl-2 {
    width: 16.66667%;
    padding: 0 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xl-4 {
    width: 33.33333%;
    padding: 0 15px;
  }
  .col-xl-5 {
    width: 41.66667%;
    padding: 0 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xl-7 {
    width: 58.33333%;
    padding: 0 15px;
  }
  .col-xl-8 {
    width: 66.66667%;
    padding: 0 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xl-10 {
    width: 83.33333%;
    padding: 0 15px;
  }
  .col-xl-11 {
    width: 91.66667%;
    padding: 0 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.bg-image {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.bg-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: .5;
  z-index: -1;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.btn {
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-right: 5px;
  cursor: pointer;
}

.btn.btn-primary {
  border: 2px solid transparent;
  background: #e76634;
}

.btn.btn-primary:hover {
  background: none;
  border-color: #e76634;
}

.btn.btn-bordered {
  border: 2px solid #e76634;
  background: none;
}

.btn.btn-bordered:hover {
  border: 2px solid transparent;
  background: #e76634;
}

.btn.btn-black:hover {
  color: black;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-evenly {
  -webkit-box-pack: evenly;
      -ms-flex-pack: evenly;
          justify-content: evenly;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.section-title h4 {
  font-size: 35px;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.section-title h4::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #e75f29;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title h4::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #e75f29;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.header-area {
  position: fixed;
  left: 0;
  right: 0;
  padding: 30px 0;
  z-index: 11;
}

.header-area .logo a {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 5px 15px;
}

.header-area .menu ul li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 15px;
  color: #fff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header-area .menu ul li a:hover {
  color: #e75f29;
}

.banner-area {
  height: 100vh;
}

.banner-area .banner-content h2 {
  font-size: 80px;
  color: #fff;
}

.banner-area .banner-content h4 {
  color: #fff;
  font-size: 30px;
}

.about-area .about-text h3 {
  font-size: 35px;
  font-weight: 700;
  color: #e75f29;
}

.about-area .about-text ul li i {
  color: #e75f29;
  margin-right: 5px;
}

.service-area {
  background-color: #f6f6f6;
}

.service-area .single-service {
  background-color: #fff;
  padding: 30px 20px;
  -webkit-box-shadow: 1px 3px 4px #cbcbcb;
          box-shadow: 1px 3px 4px #cbcbcb;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.service-area .single-service:hover {
  -webkit-box-shadow: 5px 5px 5px #cbcbcb;
          box-shadow: 5px 5px 5px #cbcbcb;
}

.service-area .single-service:hover i {
  border-radius: 50%;
}

.service-area .single-service i {
  font-size: 20px;
  background-color: #e75f29;
  color: #fff;
  padding: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.service-area .single-service h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 10px 0;
}
/*# sourceMappingURL=style.css.map */