@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}

// Background image 
.bg-image{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $black;
        opacity: .5;
        z-index: -1;
    }
}

// Margin and padding
@for $i from 1 through 10{
    .pt-#{$i * 10}{
        padding-top: $i * 10px;
    }
    .pb-#{$i * 10}{
        padding-bottom: $i * 10px;
    }
    .mt-#{$i * 10}{
        margin-top: $i * 10px;
    }
    .mb-#{$i * 10}{
        margin-bottom: $i * 10px;
    }
}


// button style 
.btn{
    margin-top: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: all .4s;
    margin-right: 5px;
    cursor: pointer;
    &.btn-primary{
        border: 2px solid transparent;
        background: $button-color;
        &:hover{
            background: none;
            border-color: $button-color;
        }
    }
    &.btn-bordered{
        border: 2px solid $button-color;
        background: none;
        &:hover{
            border: 2px solid transparent;
            background: $button-color;
        }
    }
    &.btn-black{
        &:hover{
            color: black;
        }
    }
}


// text align css 
$textAlign: left, center, right;

@each $i in $textAlign {
    .text-#{$i}{
        text-align: $i;
    }
}

// Flex css 
$flex: flex,inline-flex;

@each $i in $flex {
    .d-#{$i}{
        display: $i;
    }
}

$justify: start,center,end,evenly,space-between, space-around;
@each $i in $justify {
    .justify-content-#{$i}{
        justify-content: $i;
    }
}

$align-items: start,center,end,stretch,baseline;
@each $i in $align-items {
    .align-items-#{$i}{
        align-items: $i;
    }
}