//Common Colors 
$white: #fff;
$black:#000;

// Theme color 
$link-color: #333;
$heading-color: rgb(231, 95, 41);
$primary-color: rgb(231, 95, 41);
$link-hover: rgb(231, 95, 41);
$bg-gray: #f6f6f6;

// buttons 
$button-color: rgb(231, 102, 52);
